<div class="container mt-5">
  <div class="row">
    <!-- Left Section: Title, Details, and Control Buttons -->
    <div class="col-md-4">
      <div class="card shadow-sm border-primary p-3 mb-4 bg-light">
        <div class="card-body">
          <h1 class="card-title text-primary display-5"><%= @board.name %> Board</h1>
          <p class="text-muted">
            <strong>Board size:</strong> <%= @board.height %> x <%= @board.width %><br>
            <strong>Current view size:</strong> <%= session[:current_view][:height] %> x <%= session[:current_view][:width] %><br>
            <strong>Total Mines:</strong> <%= @board.total_mines %><br>
            <strong>Email:</strong> <%= @board.email %><br>
            <strong>Created At:</strong> <%= @board.created_at.strftime("%B %d, %Y %H:%M") %>
          </p>
        </div>
        <div class="card-body text-center">
          <%= form_with url: board_path(@board), method: :get, local: true do %>
            <button name="direction" value="up" class="btn btn-info btn-block my-1">↑</button>
            <button name="direction" value="left" class="btn btn-success btn-block my-1">←</button>
            <button name="direction" value="right" class="btn btn-warning btn-block my-1">→</button>
            <button name="direction" value="down" class="btn btn-danger btn-block my-1">↓</button>
            <button class="btn btn-outline-secondary">Reset x</button>
          <% end %>
          <a href="/" class="btn btn-secondary btn-block mt-3">Back to Home</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="container">
        <table class="table table-bordered text-center custom-table">
          <thead>
            <tr>
              <th></th>
              <% start_col = session[:current_view][:x] || 0 %>
              <% @view_grid.first.each_index do |col| %>
                <th>
                  <%= start_col + col %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% start_row = session[:current_view][:y] || 0 %>
            <% @view_grid.each_with_index do |row, row_index| %>
              <tr>
                <th><%= start_row + row_index %></th>
                <% row.each do |cell| %>
                  <td class="<%= cell == 1 ? 'bg-danger' : 'bg-cell' %>">
                    <% if cell == 1 %>💣<% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
  .custom-table {
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 8px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /
  }

  .custom-table thead th:last-child {
    border-top-right-radius: 8px;
  }

  .custom-table thead th:first-child {
    border-top-left-radius: 8px;
  }

  .custom-table tr:last-child th:first-child {
    border-bottom-left-radius: 8px;
  }

  .custom-table td {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .custom-table th,
  .custom-table td {
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    text-align: center;
    vertical-align: middle;
  }

  .custom-table .bg-cell {
    background-color: #80868b;
  }
</style>
